<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Countries</title>
    </head>
    <body>
            <label for="country">Choose a country:</label>
            <select id="country" name="country">
                <option value="">--country--</option>
                <option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.name}"></option>
            </select>
            <br><br>
    </body>
</html>